<!DOCTYPE html>
<html lang="zh-TW">
<%- partial('_partial/head') %>

<body class="main-background">
  <%- partial('_partial/header') %>
  
  <div class="main-content">
    <%- body %> 
  </div>

  <%- partial('_partial/footer') %>
  
  <!-- 就是這裡！加這一行，把 after-footer 邀請進來 -->
  <%- partial('_partial/after-footer') %>
  
  <%- js('js/script.js') %>
</body>
</html>